# Replit cache stuffs
/.cache

# Replit config files
/.config/*

!/.config/bashrc
!/.config/bin
!/.config/replitRun.sh

# Node.js stuffs
node_modules
/dist

# dotenv
.env.*
!/.env.example

# MacOS
**/.DS_Store

# Luca's server thing
/pin-log.txt

# Wrangler
/.wrangler
